<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define Agent_TargetDir=$(var.Agent.TargetDir)?>
  <!--<?define ProductVersion="$(fileVersion.ProductVersion($(var.Agent.TargetPath)))" ?>-->
	<Product Id="*" Name="Hale Agent" Language="1033" Version="!(bind.fileVersion.Agent_exe)" Manufacturer="Hale Project" UpgradeCode="93f3d83e-740a-4e17-9c20-667ae6077755">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id='1' Cabinet='Agent.cab' EmbedCab='yes' />

    <Icon Id='icon.ico' SourceFile='icon.ico' />
    <Property Id='ARPPRODUCTICON' Value='icon.ico' />
    
    <Property Id='HALE_CORE_KEY'  />
    <Property Id='HALE_AGENT_KEYS'  />
    <Property Id='HALE_AGENT_NEMESIS_CONFIG'  />
    <Property Id='HALE_AGENT_GUID'  />
    <Property Id='HALE_CORE_HOSTNAME' />
    <Property Id='HALE_CORE_PORT' />


    <Binary src='$(var.AgentBrandingAction.TargetDir)AgentBrandingAction.CA.dll' Id='AgentBrandingAction.CA.dll' />
    <CustomAction Id='AgentBranding' BinaryKey='AgentBrandingAction.CA.dll' DllEntry='AgentBrandingAction' />
    
		<Feature Id="ProductFeature" Title="Hale Agent" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <Feature Id="AgentConfig" Title="Hale Agent Configuration">
      <ComponentRef Id ="HaleAgentConfig"/>
    </Feature>
    
    <Feature Id="AgentKeys" Title="Hale Agent Keys">
      <ComponentRef Id ="HaleAgentKeys"/>
    </Feature>
    
    <!-- Adding the custom action as a feature would be cool, @todo
    <Feature Id="Branding" Title="Hale Core Branding" Level="1">
      <Component Id="BrandingProductComponent" Guid="{5F3B682A-F749-4A93-8AD8-D8AAC69E6309}">

      </Component>
    </Feature>
    -->

    <InstallExecuteSequence>
      <Custom Action="AgentBranding" Before="InstallFinalize" />
    </InstallExecuteSequence>

    <InstallUISequence />
    
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Hale Agent" />
			</Directory>
      <Directory Id="CommonAppDataFolder" Name="CommonAppDataFolder">
        <Directory Id="HaleData" Name="Hale">
          <Directory Id="HaleAgentData" Name="Agent">
            <Component Id="HaleAgentKeys" Guid="{B76469B2-6ECB-46E7-84E3-F3E70542D7D7}">
              <CreateFolder />
              <RemoveFile Id="PurgeAgentKeys" Name="agent-keys.xml" On="uninstall" />
              <RemoveFile Id="PurgeCoreKeys" Name="core-keys.xml" On="uninstall" />
            </Component>
            <Component Id="HaleAgentConfig" Guid="{5A706EFC-4F22-44CE-942A-F26F042E5C6A}">
              <CreateFolder />
              <RemoveFile Id="PurgeAgentConfig" Name="nemesis.yaml" On="uninstall" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
		  <Component Id="Agent.exe" Guid="b5efb7b7-427c-4e36-bafd-5c760ac2097d">
        <File Id="Agent_exe" Name="Agent.exe" Source="$(var.Agent_TargetDir)Agent.exe" />
      </Component>
      <Component Id="Agent.exe.config" Guid="86472682-6e53-469f-80f0-93c29372d678">
        <File Id="Agent.exe.config" Name="Agent.exe.config" Source="$(var.Agent_TargetDir)Agent.exe.config" />
      </Component>
      <Component Id="Hale_Lib.dll" Guid="c5386aa3-5f25-4f34-871a-5e4c5fd8570b">
        <File Id="Hale_Lib.dll" Name="Hale-Lib.dll" Source="$(var.Agent_TargetDir)Hale-Lib.dll" />
      </Component>
      <Component Id="libnemesis.dll" Guid="c5d38144-1c0a-42bd-bdf9-adfc6e35fab7">
       <File Id="libnemesis.dll" Name="libnemesis.dll" Source="$(var.Agent_TargetDir)libnemesis.dll" />
      </Component>
      <Component Id="System.Web.Cors.dll" Guid="4ac987e7-c582-42e9-b728-ddf5c2fb83a1">
        <File Id="System.Web.Cors.dll" Name="System.Web.Cors.dll" Source="$(var.Agent_TargetDir)System.Web.Cors.dll" />
      </Component>
      <Component Id="System.Net.Http.Formatting.dll" Guid="c06320e2-0d84-42be-a60c-1eb3bcc8e318">
        <File Id="System.Net.Http.Formatting.dll" Name="System.Net.Http.Formatting.dll" Source="$(var.Agent_TargetDir)System.Net.Http.Formatting.dll" />
      </Component>
      <Component Id="System.Web.Http.dll" Guid="fa669140-2672-431d-bc85-ad948485564f">
        <File Id="System.Web.Http.dll" Name="System.Web.Http.dll" Source="$(var.Agent_TargetDir)System.Web.Http.dll" />
      </Component>
      <Component Id="System.Web.Http.Cors.dll" Guid="462d55bd-e552-4844-984a-5a53da443750">
        <File Id="System.Web.Http.Cors.dll" Name="System.Web.Http.Cors.dll" Source="$(var.Agent_TargetDir)System.Web.Http.Cors.dll" />
      </Component>
      <Component Id="System.Web.Http.Owin.dll" Guid="d92757fe-4826-453b-9189-b003b4caeb51">
        <File Id="System.Web.Http.Owin.dll" Name="System.Web.Http.Owin.dll" Source="$(var.Agent_TargetDir)System.Web.Http.Owin.dll" />
      </Component>
      <Component Id="Microsoft.Owin.dll" Guid="73a09460-bd35-4a61-a141-1126fce804d0">
        <File Id="Microsoft.Owin.dll" Name="Microsoft.Owin.dll" Source="$(var.Agent_TargetDir)Microsoft.Owin.dll" />
      </Component>
      <Component Id="Microsoft.Owin.Host.HttpListener.dll" Guid="3fe568e7-2686-4c43-a7c5-19dfed8a428c">
        <File Id="Microsoft.Owin.Host.HttpListener.dll" Name="Microsoft.Owin.Host.HttpListener.dll" Source="$(var.Agent_TargetDir)Microsoft.Owin.Host.HttpListener.dll" />
      </Component>
      <Component Id="Microsoft.Owin.Hosting.dll" Guid="e26b6f88-a1eb-4e65-8454-faca0c3be3f5">
        <File Id="Microsoft.Owin.Hosting.dll" Name="Microsoft.Owin.Hosting.dll" Source="$(var.Agent_TargetDir)Microsoft.Owin.Hosting.dll" />
      </Component>
      <Component Id="Newtonsoft.Json.dll" Guid="cd6b4814-51f0-4441-9ad2-05dd7a63dc40">
        <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.Agent_TargetDir)Newtonsoft.Json.dll" />
      </Component>
      <Component Id="NLog.dll" Guid="8fccd2c9-0ba2-4f6d-965a-3c33de41891c">
        <File Id="NLog.dll" Name="NLog.dll" Source="$(var.Agent_TargetDir)NLog.dll" />
      </Component>
      <Component Id="Owin.dll" Guid="a37c644b-c9c4-42cf-af85-321b552660c4">
        <File Id="Owin.dll" Name="Owin.dll" Source="$(var.Agent_TargetDir)Owin.dll" />
      </Component>
      <Component Id="System.Management.Automation.dll" Guid="64d7499e-d660-4c2f-bc4e-62a6ffc14875">
        <File Id="System.Management.Automation.dll" Name="System.Management.Automation.dll" Source="$(var.Agent_TargetDir)System.Management.Automation.dll" />
      </Component>
      <Component Id="YamlDotNet.dll" Guid="0e4b4cdd-a780-4fe3-8c71-9519aa2f05a5">
        <File Id="YamlDotNet.dll" Name="YamlDotNet.dll" Source="$(var.Agent_TargetDir)YamlDotNet.dll" />
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>