<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hale_DBTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Hale_DBTools.Properties.Settings>
            <setting name="dbHost" serializeAs="String">
                <value />
            </setting>
            <setting name="dbUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="dbDefault" serializeAs="String">
                <value />
            </setting>
            <setting name="dbType" serializeAs="String">
                <value />
            </setting>
            <setting name="dbPort" serializeAs="String">
                <value>1433</value>
            </setting>
            <setting name="hasUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
        </Hale_DBTools.Properties.Settings>
    </userSettings>
</configuration>